<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body style="background-color: yellowgreen;">
    <h2>WONSEOK의 P1 Project</h2>
    <hr>
    <ul>
        <li><a href="/ex01">예제 01</a></li>
        <li><a href="/ex02">예제 02</a></li>
        <li><a href="/ex03">예제 03</a></li>
        <li><a href="/ex04">예제 04</a></li>
    </ul>
</body>
</html>